@import "~react-image-gallery/styles/css/image-gallery.css";

.catalog {
    /* padding-top: 5px; */
    padding-bottom: 10px;
    /* min-height: calc(100vh - 30px - 18px); */
}

.catalog-mobile {
    padding-top: 5px;
    padding-bottom: 0px;
}

.image-gallery-image {
    height: 70vh;
}

@media screen and (max-width: 600px) {
    .image-gallery-image {
        height: 80vh;
    }
    }