.App {
  text-align: center;
  font-size: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 600px) {
  .container {
      padding-left: 15px;
      padding-right: 15px;
    }
}
