.main-header {
    min-height: 3rem;
    background-color: #749424;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yr-logo {
    height: 45px;
}

.main-navigation-button {
    color: #fff;
    margin-left: 20px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: inherit;
}

@media screen and (max-width: 600px) {
    .main-header {
        display: block;
        min-height: 2rem;
        color: #fff;
        align-items: center;
    }
    .yr-logo {
        height: 35px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-navigation-button {
        display: none;
}
}